<section id="container" class="">
    <header class="header dark-bg">
        <a href class="logo">Diabetes<span> Pal</span></a>

        <div class="nav search-row pull-right" id="top_menu">
            <ul class="nav top-menu">
                <li>
                    <a href="#/logout" class="black">Logout</a>
                </li>
            </ul>
        </div>
    </header>
    <section id="main-content">
        <section class="wrapper">

            <div id="release">

            </div>
            <div id="overview">

                <img data-ng-show="loading" class="center-image" src="/assets/img/dashinfinity.gif"/>
                <span data-ng-show="loading" class="light-gray-centered">Loading... Please Wait</span>
            </div>
        </section>
    </section>
</section>
